.popup {
    /*max-width: 300px;*/
    max-height: 24em;
    overflow: auto;
}

.popup-table {
    border-spacing: 2px 0;
    font-size: 90%;
}

.popup-row {
    vertical-align: top;
}

.popup-row:nth-child(odd) {
    background-color: #f8f8f8;
}

.popup-title {
    word-break: break-all;
    padding: 0 2px 0 2px;
    font-weight: bolder;
}

.popup-descr {
    word-break: break-word;
    padding: 0 2px 0 2px;
}

.popup-name {
    word-break: keep-all;
    padding: 0 2px 0 2px;
}

.popup-value {
    word-break: break-all;
    padding: 0 2px 0 2px;
}

.popup-cell {
    max-height: 10em;
}
